<h1 class="title">{{title}}</h1>

<h3>Sign Up</h3>
<form id="form" action="/signup" method="POST">
    <label for="user">username</label>
    <input type="text" name="user" id="user">
    <label for="pass">password</label>
    <input type="text" name="pass" id="pass">
    <button>submit</button>
</form>
